@import "colors";
@import "mixins";

*{
    @include css-reset;
}

body{
    height: 100vh;
    background: $bg-color;
    @include display;
}

.login-box{
    background: $bg-color-2;
    width: 310px;
    height: 400px;
    border-radius: 22px;
    padding: 35px;
    @include display;
    flex-direction: column;
}

.title{
    font: {
        size: 15px;
        weight: 900;
    }
    color: $text-color-2;
    margin: 25px 0;
}

.blue-login{
    color: $text-color-1;
}

.inputs{
    width: 100%;
    margin: 17px 0;
    padding: 6px;
    outline: none;
    @include border-maker-2;
    @include border-maker(1px, $text-color-1);
}
.inputs:focus{
    @include border-maker(2px, blue);
}

.login-btn{
    font-weight: 700;
    padding: 10px 0;
    width: 100%;
    background: $bg-color;
    color: $bg-color-2;
    cursor: pointer;
    @include border-maker-2;
}
.login-btn:hover{
    background: $bg-color-3;
}

.creat-account{
    @include a;
}

.forget-password{
    @extend .creat-account;
    margin: 10px 0;
}

